.ag-theme-alpine {
  --ag-foreground-color: rgb(255, 255, 255);
  --ag-background-color: linear-gradient(
    90deg,
    rgba(81, 207, 95, 1) 0%,
    rgb(217, 196, 94) 47%,
    rgba(10, 19, 8, 1) 98%
  ) !important;

  --ag-header-background-color: rgb(67, 76, 86);
  --ag-odd-row-background-color: rgb(0, 0, 0, 0.03);

  --ag-header-column-resize-handle-color: rgb(126, 46, 132);

  --ag-font-size: 18px;
  --ag-font-family: monospace;
}
.custom-reference-cell {
  font-size: 30px; /* Ajusta el tamaño de fuente según tus necesidades */
}
.ag-theme-alpine .ag-header-cell-label {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
}
